<<<<<<< HEAD
.reflex-container.vertical > .reflex-splitter,
.reflex-container.vertical > .reflex-splitter:hover {
  background-color: #00131c;
  border-right: 1px solid #00131c !important;
  border-left: 1px solid #00131c !important;
  width: 12px !important;
  border-radius: 10px;
  margin-inline: 2px;
}

.reflex-container.horizontal > .reflex-splitter,
.reflex-container.horizontal > .reflex-splitter:hover {
  background-color: #00131c;
  border-right: 1px solid #00131c;
  border-left: 1px solid #00131c;
  width: 100%;
  margin-bottom: 1px;
  border-radius: 10px;
  height: 12px;
}
=======
.reflex-container.vertical > .reflex-splitter:hover, .reflex-container.vertical > .reflex-splitter.active {
    background-color: #aefeff;
    border-right: 1px solid #aefeff;
    border-left: 1px solid #aefeff;
    width: 10px;
    border-radius: 10px;
}

.reflex-container.horizontal > .reflex-splitter:hover, .reflex-container.horizontal > .reflex-splitter.active {
    background-color: #aefeff;
    border-right: 1px solid #aefeff;
    border-left: 1px solid #aefeff;
    width: 100%;
    border-radius: 10px;
    height: 10px;
}
>>>>>>> 62cea6299a1f30669742378e6b7f536e406a39a9
